

.banner-img {
    margin-top: 30px;
  }
  
  .home-page h1 {
    color: rgb(54, 53, 53);
    font-family: "Playfair Display", serif;
  }
  
  .home-page {
    display: flex;
    flex-wrap: wrap;
  }
  .home-page .card {
    background-color: rgba(0, 0, 0, 0.977);
    width: 18rem;
    padding: 4px;
  }
  .home-page .gap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-page .price {
    color: rgb(13, 132, 13);
    font-weight: bold;
  }
  /* Add margin between buttons and improve button design */
.home-page button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px; /* Add some margin at the top */
    margin-bottom: 10px; /* Add some margin at the bottom */
    padding: 10px; /* Add some padding to the buttons */
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  /* Improve button hover effect */
  .home-page .gap:hover {
    background-color: #3d0690; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  
  .home-page .card-text {
    color: rgb(232, 218, 218);
  }
  .home-page .bran {
    color: rgb(232, 218, 218);
  }
  
  .home-page .card img:hover {
    transform: scale(0.9);
  }
  
  .home-page .card-img-top {
    height: 300px !important;
  }
  /* ==================
  filters
  ============== */
  .filters h4 {
    margin-top: 100px;
    color: gray !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.337);
  }
  
  .ant-checkbox-wrapper:first-of-type {
    margin-left: 8px;
  }
  
  .ant-checkbox-wrapper {
    margin: 2px;
  }
  .ant-radio-wrapper {
    margin-bottom: 5px !important;
    margin-left: 10px;
  }
  
  .filters button {
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: 20px;
  }
  
  .loadmore {
    color: rgb(28, 38, 145);
    font-weight: bold;
    font-size: 20px !important;
  }

  .bold{
    color: black;
  }